* {
  font-family: 'Inter';
  font-style: normal;
}
#app {
  max-width: 1114px;
  margin: auto;
}
body {
  background-color: #D8D8D8;
}
.is-inactive {
  color: #C2CCD6 !important;
}
input::placeholder {
  color: #9DA8B4;
}
input:focus {
  outline: none;
}
input {
  border: none;
  background: inherit;
}